QWidget {
	background-color: #CCCCCC;
}

QSlider::groove:horizontal {
	height: 5px;
	background-color: #52595d;
}

QSlider::handle:horizontal {
	background: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(255, 255, 255);
	width: 12px;
	margin: -5px 0;
	border-radius: 7px;
}

QSlider::add-page:horizontal {
	background: #52595d;
}

QSlider::sub-page:horizontal {
	background-color: #000000;
}
